body {
	background-image: url('http://kingofwallpapers.com/background-book/background-book-005.jpg');
}

.container {
	background-color: #ccc;
}

.book-content {
	display: table-cell;
}
.book-content .left-column {
	width: 30%;
}
.book-content .right-column {
}

.comments-form-container {
	margin-top: 100px;
}




















